---
import { Link } from "@/components/ui/link";
import { Image } from "astro:assets";
import { Badge } from "@/components/ui/badge";
import { HoverEffect } from "@/components/ui/card-hover-effect";
import type { projectUi } from "@/i18n/project-ui";
import { getLangFromUrl, useTranslations } from "@/i18n/project-utils";

interface Props {
  projectId: keyof (typeof projectUi)[typeof lang];
}

const { projectId } = Astro.props;
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const overview = t(projectId).overview;
---

<section id="overview" class="bg-secondary py-16">
  <div class="container mx-auto px-6">
    <div class="grid grid-cols-1 gap-12 lg:grid-cols-12">
      <div class="lg:col-span-8">
        <div class="space-y-16">
          <div>
            <h2>{overview.challenge.title}</h2>
            <div class="prose prose-lg text-muted-foreground space-y-4">
              {overview.challenge.description.map((item) => <p>{item}</p>)}
            </div>
          </div>

          <div class="grid grid-cols-1 gap-8 md:grid-cols-2">
            {
              overview.images.map((item) => (
                <Image
                  class="h-64 object-contain"
                  src={item.image}
                  alt={item.alt}
                />
              ))
            }
          </div>

          <div>
            <h2>{overview.solution.title}</h2>
            <div class="prose prose-lg text-muted-foreground space-y-4">
              {overview.solution.description.map((item) => <p>{item}</p>)}
            </div>
          </div>

          <div>
            <h2>{overview.technologies.title}</h2>
            <HoverEffect client:visible items={overview.technologies.items} />
          </div>
        </div>
      </div>

      <div class="lg:col-span-4">
        <div class="bg-background sticky top-32 rounded-lg p-8 shadow">
          <div class="space-y-6">
            <div>
              <h3 class="mb-2">{overview.card.services.title}</h3>
              <div class="flex flex-wrap gap-2">
                {
                  overview.card.services.items.map((item) => (
                    <Badge variant="secondary">{item}</Badge>
                  ))
                }
              </div>
            </div>

            <div>
              <h3 class="mb-0">{overview.card.industry.title}</h3>
              {
                overview.card.industry.items.map((item) => (
                  <p class="text-muted-foreground">{item}</p>
                ))
              }
            </div>

            <div>
              <h3 class="mb-0">{overview.card.timeline.title}</h3>
              {
                overview.card.timeline.items.map((item) => (
                  <p class="text-muted-foreground">{item}</p>
                ))
              }
            </div>
            <div>
              <h3 class="mb-0">{overview.card.scale.title}</h3>
              {
                overview.card.scale.items.map((item) => (
                  <p class="text-muted-foreground">{item}</p>
                ))
              }
            </div>

            <Link
              className="w-full cursor-pointer"
              size="lg"
              href={overview.card.btn.href}
              target="_blank"
              rel="noopener noreferrer"
            >
              {overview.card.btn.text}
            </Link>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
