---
import { Image } from "astro:assets";
import {
  useTranslations,
  getLangFromUrl,
  type projectUi,
} from "@/i18n/project-ui";

interface Props {
  projectId: keyof (typeof projectUi)[typeof lang];
}
const { projectId }: Props = Astro.props;

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const testimonial = t(projectId).testimonial;
---

<section id="testimonial" class="bg-secondary py-20">
  <div class="container mx-auto px-6">
    <div class="mx-auto max-w-4xl text-center">
      <Image
        src={testimonial.img}
        alt={testimonial.imgAlt}
        class="mx-auto mb-14 h-20 w-20 rounded-full"
      />
      <blockquote class="text-primary mb-8 text-xl leading-relaxed md:text-2xl">
        "{testimonial.testimonial}"
      </blockquote>
      <div class="text-muted-foreground">
        <div class="text-lg">{testimonial.name}</div>
        <div>{testimonial.job}</div>
      </div>
    </div>
  </div>
</section>
