---
import { getLangFromUrl, useTranslations } from "@/i18n/policy-ui";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const section = t("sections")["4_how_i_use"];
---

<section>
  <h2>{section.title}</h2>
  <p>{section.subtitle}</p>

  <h3 class="mt-4 mb-1">{section["4_1_contact"].title}</h3>
  <ul>
    {section["4_1_contact"].items.map((item) => <li>{item}</li>)}
  </ul>

  <h3 class="mt-4 mb-1">{section["4_2_analytics"].title}</h3>
  <ul>
    {section["4_2_analytics"].items.map((item) => <li>{item}</li>)}
  </ul>

  <h3 class="mt-4 mb-1">{section["4_3_security"].title}</h3>
  <ul>
    {section["4_3_security"].items.map((item) => <li>{item}</li>)}
  </ul>
</section>

<style>
  ul > li {
    list-style: disc;
  }
</style>
