---
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import ValueItem from "./ValueItem.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const value = t("valueProposition");
---

<section class="bg-secondary px-6 py-20 lg:px-12">
  <article class="mx-auto max-w-7xl">
    <header class="mb-16 text-center">
      <h2
        class="text-primary mb-4 text-[clamp(1.4rem,4vw,3rem)] tracking-tighter text-pretty"
      >
        {value.title}
      </h2>
      <p
        class="text-muted-foreground mx-auto max-w-2xl text-[clamp(1rem,2vw,1.5rem)] text-pretty"
      >
        {value.subtitle}
      </p>
    </header>

    <div class="grid gap-12 md:grid-cols-3">
      {
        value.items.map((item) => (
          <ValueItem
            title={item.title}
            description={item.description}
            icon={item.icon}
          />
        ))
      }
    </div>
  </article>
</section>
