---
import {
  getLangFromUrl,
  useTranslatedPath,
  useTranslations,
} from "@/i18n/utils";
import {
  IconBrandGithub,
  IconBrandLinkedin,
  IconBrandX,
} from "@tabler/icons-react";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatedPath = useTranslatedPath(lang);

const footer = t("footer");
---

<footer id="footer" class="bg-neutral-900 px-6 py-12 lg:px-12">
  <div class="mx-auto max-w-7xl">
    <div class="mb-8 grid gap-8 md:grid-cols-4">
      <div class="md:col-span-2">
        <svg
          class="mb-4 w-20 text-white"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 594 180"
          fill="currentColor"
        >
          <path
            d="M90.117.003a89.404 90 0 0 0-20.114 2.142l51.545 52.401a47.682 48 0 0 1 3.388 3.444v.003l6.188 6.29L160 34.781A89.404 90 0 0 0 90.117.003m-32.77 5.98C23.112 19.222.38 52.164.005 89.08c-.504 49.624 38.99 90.294 88.285 90.913 6.89.086 13.769-.63 20.497-2.135l-51.752-52.614-6.084-6.263c-4.4-4.551-9.316-16.77-9.227-29.472.268-26.466 21.768-47.719 48.06-47.507q1.56.012 3.117.127zM129.58 115.85a47.682 48 0 0 1-40.77 22.146 47.682 48 0 0 1-2.925-.128l35.561 36.153a89.404 90 0 0 0 38.203-28.347z"
          ></path>
          <path
            d="M219.618 139.712V125.06q-4.168.375-9.02 1.064-4.853.626-7.365 1.503-3.083 1.064-4.739 3.13-1.598 2.004-1.598 5.323 0 2.192.342 3.57.343 1.377 1.713 2.63 1.313 1.252 3.14 1.878 1.827.563 5.71.563 3.082 0 6.222-1.377 3.197-1.378 5.595-3.632m0 10.895q-1.655 1.378-4.11 3.32-2.455 1.94-4.625 3.067-3.026 1.503-6.28 2.192-3.254.751-7.136.751-9.135 0-15.301-6.199T176 137.896q0-7.702 3.14-12.586t8.906-7.702q5.71-2.818 14.16-4.007 8.449-1.19 17.526-1.754v-.375q0-5.824-4.339-8.015-4.339-2.255-12.788-2.255-5.081 0-10.848 2.004-5.766 1.941-8.278 3.006h-1.884v-16.97q3.254-.939 10.562-2.191 7.365-1.315 14.73-1.315 17.527 0 25.291 5.949Q240 97.57 240 110.219v47.84h-20.382zM300 109.217h-1.887q-1.356-.5-4.364-.751-3.007-.25-5.012-.25-4.54 0-8.02.626t-7.488 2.129v47.088H252v-70.32h21.229v10.333q7.017-6.387 12.206-8.454 5.19-2.129 9.553-2.129 1.12 0 2.535.063 1.416.062 2.477.188zm64-32.06h-1.642q-1.46-.438-3.832-1.002-2.31-.563-4.987-.563-6.447 0-8.758 2.38-2.25 2.379-2.25 9.204v.564h16.908v15.278H343.26v55.04h-21.895v-55.04H312V87.74h9.366v-1.941q0-12.9 6.63-19.35Q334.685 60 348.186 60q4.866 0 8.819.376 3.953.313 6.994.877zm72 80.902h-20.887v-7.326q-5.396 4.759-10.096 7.013T394.167 160q-11.894 0-19.03-9.894T368 123.432q0-8.955 2.379-15.843 2.437-6.95 6.614-11.897 3.946-4.696 9.574-7.264 5.628-2.63 11.256-2.63 5.86 0 9.573 1.378 3.771 1.315 7.717 3.381v-29.93H436Zm-20.887-19.411v-34.503q-2.205-1.001-4.642-1.44-2.437-.438-4.468-.438-8.238 0-12.358 5.573-4.12 5.51-4.12 15.341 0 10.332 3.308 15.028 3.307 4.634 10.618 4.634 2.843 0 6.034-1.127 3.19-1.19 5.628-3.068M516 127.063h-47.165q.458 8.266 5.724 12.649 5.323 4.383 15.626 4.383 6.525 0 12.65-2.567t9.673-5.51h2.29v18.096q-6.983 3.068-13.165 4.446t-13.68 1.377q-19.347 0-29.65-9.517Q448 140.902 448 123.306q0-17.407 9.73-27.551 9.789-10.207 26.789-10.207 15.683 0 23.582 8.704Q516 102.893 516 119.174Zm-20.492-13.212q-.171-7.076-3.205-10.645t-9.444-3.569q-5.953 0-9.788 3.381-3.835 3.382-4.293 10.833zM594 87.74l-25.21 70.319h-23.755L520 87.739h22.183l15.137 48.341 14.963-48.34z"
          ></path>
        </svg>
        <p class="mb-6 max-w-md text-neutral-400">
          {footer.title}
        </p>
        <div class="flex space-x-4">
          <a
            href="https://github.com/carfdev"
            aria-label="GitHub"
            target="_blank"
            rel="noopener noreferrer"
            class="flex h-10 w-10 cursor-pointer items-center justify-center rounded-lg bg-neutral-800 text-neutral-300 transition-colors hover:bg-neutral-500 hover:text-white"
          >
            <IconBrandGithub />
          </a>
          <a
            href="https://www.linkedin.com/in/carfdev/"
            aria-label="LinkedIn"
            target="_blank"
            rel="noopener noreferrer"
            class="flex h-10 w-10 cursor-pointer items-center justify-center rounded-lg bg-neutral-800 text-neutral-300 transition-colors hover:bg-neutral-500 hover:text-white"
          >
            <IconBrandLinkedin />
          </a>
          <a
            href="https://twitter.com/carfdev"
            aria-label="X"
            target="_blank"
            rel="noopener noreferrer"
            class="flex h-10 w-10 cursor-pointer items-center justify-center rounded-lg bg-neutral-800 text-neutral-300 transition-colors hover:bg-neutral-500 hover:text-white"
          >
            <IconBrandX />
          </a>
        </div>
      </div>

      <div>
        <h4 class="mb-4 text-white">{footer.services.name}</h4>
        <ul class="space-y-3">
          {
            footer.services.links.map((link) => (
              <li>
                <a
                  href={link.href}
                  class="cursor-pointer text-neutral-400 transition-colors hover:text-white"
                >
                  {link.text}
                </a>
              </li>
            ))
          }
        </ul>
      </div>

      <div>
        <h4 class="mb-4 text-white">{footer.company.name}</h4>
        <ul class="space-y-3">
          {
            footer.company.links.map((link) => (
              <li>
                <a
                  href={link.href}
                  class="cursor-pointer text-neutral-400 transition-colors hover:text-white"
                >
                  {link.text}
                </a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>

    <div
      class="flex flex-col items-center justify-between border-t border-neutral-800 pt-8 md:flex-row"
    >
      <p class="mb-4 text-sm text-neutral-400 md:mb-0">
        {footer.copyright}
      </p>
      <div class="flex space-x-6 text-sm">
        {
          footer.legal.map((link) => (
            <a
              href={translatedPath(link.href)}
              class="cursor-pointer text-neutral-400 transition-colors hover:text-white"
            >
              {link.text}
            </a>
          ))
        }
      </div>
    </div>
  </div>
</footer>
