---
import Layout from "@/layouts/Layout.astro";
import Hero from "./sections/Hero.astro";
import Overview from "./sections/Overview.astro";
import DesignProcess from "./sections/DesignProcess.astro";
import { CustomBreadcrumb } from "./sections/custom-breadcrumb";
import Testimonial from "./sections/Testimonial.astro";
import CTA from "./sections/CTA.astro";
import LessonsLearned from "./sections/LessonsLearned.astro";
import {
  getLangFromUrl,
  type projectUi,
  useTranslations,
} from "@/i18n/project-ui";

interface Props {
  projectId: keyof (typeof projectUi)[typeof lang];
}

const { projectId } = Astro.props;
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const ui = t(projectId);
---

<Layout title={ui.meta.title} description={ui.meta.description}>
  <div class="container mx-auto mt-24 px-4">
    <CustomBreadcrumb lang={lang} projectId={projectId} />
  </div>
  <Hero projectId={projectId} />
  <Overview projectId={projectId} />
  <DesignProcess projectId={projectId} />
  <Testimonial projectId={projectId} />
  <CTA projectId={projectId} />
  <LessonsLearned projectId={projectId} />
</Layout>
