---
import { Check } from "lucide-react";
import { ContactForm } from "./ContactForm";
import { getLangFromUrl, useTranslations } from "@/i18n/index-ui";
import ContactDetail from "./ContactDetail.astro";
import { Toaster } from "@/components/ui/toaster";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const contact = t("contact");
---

<section id="contact" class="bg-background px-6 py-20 lg:px-12">
  <div class="mx-auto max-w-4xl">
    <div class="mb-16 text-center">
      <h2>{contact.title}</h2>
      <p class="subtitle">
        {contact.subtitle}
      </p>
    </div>

    <div class="grid gap-16 lg:grid-cols-2">
      <ContactForm ui={contact.form} client:visible />

      <div class="space-y-8">
        <div>
          <h3>{contact.details.title}</h3>
          <div class="space-y-6">
            {
              contact.details.items.map((item) => (
                <ContactDetail
                  label={item.label}
                  value={item.value}
                  note={item.note}
                  icon={item.icon}
                />
              ))
            }
          </div>
        </div>

        <div class="bg-secondary rounded-2xl p-6">
          <h4 class="text-primary mb-4">{contact.card.title}</h4>
          <ul class="text-muted-foreground space-y-2">
            {
              contact.card.items.map((item) => (
                <li class="flex items-center gap-2">
                  <Check className="size-4" />
                  <span>{item}</span>
                </li>
              ))
            }
          </ul>
        </div>
      </div>
    </div>
  </div>
  <Toaster client:load />
</section>
