---
import { BackgroundRippleEffect } from "@/components/ui/background-ripple-effect";
import { Link } from "@/components/ui/link";
import { TextGenerateEffect } from "@/components/ui/text-generate-effect";
import { getLangFromUrl, useTranslations } from "@/i18n/index-ui";
import { Eye, Rocket } from "lucide-react";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const hero = t("hero");
---

<section
  class="relative flex w-full items-center justify-center overflow-hidden"
>
  <BackgroundRippleEffect client:load />
  <article
    class="pointer-events-none z-10 flex w-full flex-col items-center justify-center gap-4 px-4 py-40"
  >
    <h1>
      {hero.title}
    </h1>
    <TextGenerateEffect client:load words={hero.subtitle} />
    <p class="sr-only">
      {hero.subtitle}
    </p>
    <div class="xs:flex-row mt-8 flex flex-col gap-4">
      <Link
        href="#contact"
        className="pointer-events-auto cursor-pointer"
        size="lg"
      >
        <Rocket aria-hidden="true" />
        {hero.primaryCta}
      </Link>
      <Link
        href="#work"
        variant="secondary"
        className="pointer-events-auto cursor-pointer"
        size="lg"
      >
        <Eye aria-hidden="true" />
        {hero.secondaryCta}
      </Link>
    </div>
  </article>
</section>
