---
import { Image } from "astro:assets";
import { Badge } from "@/components/ui/badge";
import { Button } from "@/components/ui/button";
import { ArrowRight } from "lucide-react";
import { getLangFromUrl, useTranslatedPath } from "@/i18n/index-ui";
import type { ImageMetadata } from "astro";

interface Props {
  title: string;
  description: string;
  btn: string;
  techStack: readonly string[];
  url: string;
  imageAlt: string;

  imageSrc: ImageMetadata;
}

const lang = getLangFromUrl(Astro.url);
const translatePath = useTranslatedPath(lang);

const { title, description, techStack, url, imageAlt, imageSrc, btn }: Props =
  Astro.props;
---

<div class="group cursor-pointer">
  <a href={translatePath(url)}>
    <Image
      transition:name={`image${url}`}
      class="bg-input mb-6 h-80 rounded-2xl object-cover object-top transition-transform group-hover:scale-105"
      src={imageSrc}
      alt={imageAlt}
    />
    <div>
      <h3>{title}</h3>
      <p class="text-muted-foreground mb-4 leading-relaxed">
        {description}
      </p>
      <div class="flex items-center justify-between">
        <div class="mb-4 flex flex-wrap gap-2">
          {techStack.map((tech) => <Badge variant="secondary">{tech}</Badge>)}
        </div>
        <Button
          variant="ghost"
          className="scale-95 cursor-pointer transition group-hover:scale-100"
        >
          {btn}
          <ArrowRight />
        </Button>
      </div>
    </div>
  </a>
</div>
